DefaultSettingsScreen {
    align: center middle;
}

#settings-box {
    width: auto;
    height: auto;
    border: round $primary;
    padding: 1 2;
}

#settings-box Input, #settings-box Select {
    width: 50;
}

#info-panel {
    color: $text-muted;
    margin-bottom: 1;
}

#status-label {
    width: 50;
    margin-top: 1;
}
